

<div>
    <h1 style="height: 1rem;background-color: rgb(107, 27, 26);"></h1>
    <div class="container-fluid px-5 py-3">
        <div>
            <label for="search_name">{{message}}</label>
            <input type="text" name="search_name" id="search_name" ng-model="search_name">
        </div>

        <table class="table table-borderless table-hover container-fluid" id="search_table" style="display: none;">
            <thead>
                <tr>
                    <th>id</th>
                    <th>ownerID</th>
                    <th>sID</th>
                    <th>model</th>
                    <th>cost</th>
                    <th>lastService</th>
                    <th>nextService</th>
                </tr>
            </thead>
            <tbody ng-repeat="i in items | filter: search_name">
                <tr>
                    <td>{{i.id | uppercase}}</td>
                    <td>{{i.ownerID}}</td>
                    <td>{{i.sID}}</td>
                    <td>{{i.model | uppercase}}</td>
                    <td>{{i.cost | currency : "₹" :2}}</td>
                    <td>{{i.lastService}}</td>
                    <td>{{i.nextService}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>